<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>Drink Details</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../js/drinkApi.js"></script>
        <link href="../css/drink-details-style.css" rel="stylesheet" />
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th colspan="2" style="text-align: center">Drink details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="body-title"><span>Drink's id</span></td>
                    <td id="drink-id"></td>
                </tr>
                <tr>
                    <td class="body-title"><span>Drink's name</span></td>
                    <td id="drink-name"></td>
                </tr>
                <tr>
                    <td class="body-title"><span>Quantity</span></td>
                    <td id="quantity"></td>
                </tr>
                <tr>
                    <td class="body-title"><span>Brand's name</span></td>
                    <td id="brand-name"></td>
                </tr>
                <tr>
                    <td class="body-title"><span>Category's name</span></td>
                    <td id="category-name"></td>
                </tr>
                <tr>
                    <td class="body-title"><span>Unit price</span></td>
                    <td id="unit-price"></td>
                </tr>
                <tr>
                    <td class="body-title"><span>Size's id</span></td>
                    <td id="size-id"></td>
                </tr>
                <tr>
                    <td class="body-title"><span>Size's type</span></td>
                    <td id="size-type"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
