<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>Drink Details</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../js/drinkApi.js"></script>
        <script src="../js/brandApi.js"></script>
        <script src="../js/categoryApi.js"></script>
        <script src="../js/sizeApi.js"></script>
        <link href="../css/drink-details-style.css" rel="stylesheet" />
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th colspan="2" style="text-align: center">Drink details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="body-title"><span>Drink's id</span></td>
                    <td id="drink-id"></td>
                </tr>
                <tr>
                    <td class="body-title"><span>Drink's name</span></td>
                    <td><input type="text" id="drink-name" class="inputInTable" value="" disabled /></td>
                </tr>
                <tr>
                    <td class="body-title"><span>Quantity</span></td>
                    <td><input type="number"  id="quantity" class="inputInTable" value="" disabled /></td>
                </tr>
                <tr>
                    <td class="body-title"><span>Brand's name</span></td>
                   <td>
                        <select id="brand-name" class="inputInTable" disabled>
                            
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="body-title"><span>Category's name</span></td>
                    <td>
                        <select id="category-name" class="inputInTable" disabled>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="body-title"><span>Unit price</span></td>
                    <td><input type="number" min="1000" step="0.1" id="unit-price" class="inputInTable" value="" disabled /></td>
                </tr>
                <tr>
                    <td class="body-title"><span>Size's type</span></td>
                    <td>
                        <select id="size-type" class="inputInTable" disabled>
                            
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" id="update-button"><span id="txtUpdate">UPDATE</span></td>
                </tr>
                <tr>
                    <td colspan="2" id="delete-button"><span id="txtDelete">DELETE</span></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
