<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>Homepage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../js/drinkApi.js"></script>
        <link href="../css/homepage-style.css" rel="stylesheet" />
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Hãng nước</th>
                    <th>Tên nước</th>
                    <th>Đơn giá</th>
                </tr>
            </thead>
            <tbody id="bodyTable">

            </tbody>
        </table>
    </body>
</html>
